Repository imbiyejun/vitepress-plus-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix --max-warnings=0"],
  "*.{json,css,scss,md}": ["prettier --write"]
}

chore: Refactor VitePress Admin scripts and server setup for improved development experience and build process
  packages/vitepress-admin/cli/commands/start.ts
  packages/vitepress-admin/package.json
  packages/vitepress-admin/server/config/imageConfig.ts
  packages/vitepress-admin/server/controllers/image/config/configController.ts
  packages/vitepress-admin/server/controllers/image/config/index.ts
  packages/vitepress-admin/server/controllers/image/config/testController.ts
  packages/vitepress-admin/server/controllers/image/index.ts
  packages/vitepress-admin/server/controllers/image/local/directoryController.ts
  packages/vitepress-admin/server/controllers/image/local/fileController.ts
  packages/vitepress-admin/server/controllers/image/local/index.ts
  packages/vitepress-admin/server/controllers/image/local/uploadController.ts
  packages/vitepress-admin/server/controllers/image/qiniu/configHelper.ts
  packages/vitepress-admin/server/controllers/image/qiniu/directoryController.ts
  packages/vitepress-admin/server/controllers/image/qiniu/fileController.ts
  packages/vitepress-admin/server/controllers/image/qiniu/index.ts
  packages/vitepress-admin/server/controllers/image/qiniu/uploadController.ts
  packages/vitepress-admin/server/index.ts
  packages/vitepress-admin/server/routes/categoryRoutes.ts
  packages/vitepress-admin/server/routes/imageRoutes.ts
  packages/vitepress-admin/server/routes/topicRoutes.ts
  packages/vitepress-plus/package.json
Due: eslint --fix --max-warnings=0, prettier --write

chore: Add VSCode launch configuration for debugging VitePress Admin and enhance CLI entry point for direct execution
  .vscode/launch.json
  packages/vitepress-admin/cli/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: Add debug configuration for VitePress Plus CLI and update .gitignore for cache and dist directories
  .vscode/launch.json
  examples/.gitignore
  packages/vitepress-plus-cli/package.json
  packages/vitepress-plus-cli/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: Update .gitignore to use wildcard patterns for VitePress cache and dist directories
  examples/.gitignore
Due: none

feat: Enhance VitePress Admin with AST manipulation for category and topic management, including add, update, delete, and reorder functionalities
  package.json
  packages/vitepress-admin/bin/vpa.js
  packages/vitepress-admin/cli/commands/start.ts
  packages/vitepress-admin/package.json
  packages/vitepress-admin/server/controllers/categoryController.ts
  packages/vitepress-admin/server/utils/astHelper.ts
  packages/vitepress-admin/src/components/category/CategoryManagerModal.vue
  packages/vitepress-plus/.vitepress/topics/config/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Implement AST-based updates for topic management, including topic addition, deletion, and reordering in VitePress Admin
  packages/vitepress-admin/server/controllers/topicController.ts
  packages/vitepress-admin/server/services/topic-sync.ts
  packages/vitepress-admin/server/utils/astHelper.ts
  packages/vitepress-plus/.vitepress/topics/config/index.ts
Due: eslint --fix --max-warnings=0

feat: Refactor topic management in VitePress Admin to streamline article file operations, enhance topic update handling, and improve AST manipulation for data consistency
  packages/vitepress-admin/server/controllers/topicController.ts
  packages/vitepress-admin/server/services/topic-sync.ts
  packages/vitepress-admin/server/utils/astHelper.ts
  packages/vitepress-admin/src/components/topic/TopicEdit.vue
  packages/vitepress-plus/.vitepress/topics/config/index.ts
  packages/vitepress-plus/.vitepress/topics/data/business/index.ts
  packages/vitepress-plus/.vitepress/topics/data/dd/index.ts
  packages/vitepress-plus/.vitepress/topics/data/ee/index.ts
  packages/vitepress-plus/.vitepress/topics/data/gg/index.ts
  packages/vitepress-plus/.vitepress/topics/data/hh/index.ts
  packages/vitepress-plus/.vitepress/topics/data/ii/index.ts
  packages/vitepress-plus/.vitepress/topics/data/index.ts
Due: eslint --fix --max-warnings=0

feat: implement CLI template copying with gitignore support
  packages/vitepress-plus-cli/.gitignore
  packages/vitepress-plus-cli/README.md
  packages/vitepress-plus-cli/package.json
  packages/vitepress-plus-cli/scripts/prepare-template.ts
  packages/vitepress-plus-cli/src/commands/create.ts
  packages/vitepress-plus-cli/src/utils/copy-template.ts
  packages/vitepress-plus/package.json
Due: eslint --fix --max-warnings=0, prettier --write

feat: Add initial configuration files
  packages/vitepress-admin/.env.example
  packages/vitepress-admin/.npmignore
  packages/vitepress-admin/LICENSE
  packages/vitepress-admin/package.json
  packages/vitepress-admin/server/types/image.ts
  packages/vitepress-admin/server/types/index.ts
  packages/vitepress-admin/vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Refactor theme update logic in Layout.vue for improved client-side handling
  packages/vitepress-plus/.vitepress/theme/Layout.vue
  packages/vitepress-plus/articles/vue/vue-intro-install.md
  packages/vitepress-plus/topics/[slug].md
Due: eslint --fix --max-warnings=0, prettier --write

chore: Add pnpm overrides for @imbiyejun/vitepress-admin in package.json to manage workspace dependencies
  package.json
Due: prettier --write

chore: Clean up topic data by removing unused topics and articles, and update Vue.js topic description
  packages/vitepress-plus/.vitepress/topics/config/index.ts
  packages/vitepress-plus/.vitepress/topics/data/aabb/index.ts
  packages/vitepress-plus/.vitepress/topics/data/cc/index.ts
  packages/vitepress-plus/.vitepress/topics/data/hhh/index.ts
  packages/vitepress-plus/.vitepress/topics/data/index.ts
  packages/vitepress-plus/.vitepress/topics/data/jj/index.ts
  packages/vitepress-plus/.vitepress/topics/data/vue/index.ts
  packages/vitepress-plus/articles/hhh/dasfdasfasd.md
  packages/vitepress-plus/articles/hhh/qwreewrewqr.md
  packages/vitepress-plus/articles/vue/vue-component-intro.md
  packages/vitepress-plus/articles/vue/vue-component-props.md
  packages/vitepress-plus/articles/vue/vue-computed-watch.md
  packages/vitepress-plus/articles/vue/vue-state-management.md
  packages/vitepress-plus/articles/vue/vue-template-databinding.md
  packages/vitepress-plus/public/images/default/1.jpg
  packages/vitepress-plus/public/images/default/12.jpg
  packages/vitepress-plus/public/images/default/123412.jpg
  packages/vitepress-plus/public/images/default/1754316432262-7671.jpg
  packages/vitepress-plus/public/images/default/1754316432276-1232.png
  packages/vitepress-plus/public/images/default/alex-varela-sxx4phugdya-unsplash-2025-08-04-141147583-.jpg
  packages/vitepress-plus/public/images/default/logo.png
  packages/vitepress-plus/public/images/default/study.gif
  packages/vitepress-plus/public/images/topics/react.png
  packages/vitepress-plus/public/images/topics/vitest.png
  packages/vitepress-plus/public/pp.1.6a99306-2025-09-18-144714389-.jpg
Due: eslint --fix --max-warnings=0, prettier --write

refactor: Update article and topic controllers to improve type safety and streamline error handling; enhance UI feedback in ArticleManager and TopicManager components for better user experience
  packages/vitepress-admin/server/controllers/articleController.ts
  packages/vitepress-admin/server/controllers/categoryController.ts
  packages/vitepress-admin/server/controllers/topicController.ts
  packages/vitepress-admin/src/views/articles/ArticleManager.vue
  packages/vitepress-admin/src/views/topics/TopicManager.vue
  packages/vitepress-plus/.vitepress/topics/config/index.ts
  packages/vitepress-plus/.vitepress/topics/data/react/index.ts
  packages/vitepress-plus/.vitepress/topics/data/vue/index.ts
  packages/vitepress-plus/articles/react/react-intro-jsx.md
  packages/vitepress-plus/articles/vue/vue-intro-install.md
Due: eslint --fix --max-warnings=0, prettier --write

chore: Bump version to 0.1.0-rc.2
  packages/vitepress-admin/package.json
  packages/vitepress-plus-cli/package.json
  packages/vitepress-plus/package.json
Due: prettier --write

feat: Add release management scripts and update package.json with new release commands
  package.json
  scripts/release.ts
  scripts/utils.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Add 'release:rc:next' command to package.json and update release script to support 'next' bump type for RC versions
  README.md
  package.json
  scripts/release.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: Bump version to 0.1.0-rc.3
  packages/vitepress-admin/package.json
  packages/vitepress-plus-cli/package.json
  packages/vitepress-plus/package.json
  scripts/release.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: Bump version to 0.1.0-rc.4
  packages/vitepress-admin/package.json
  packages/vitepress-plus-cli/package.json
  packages/vitepress-plus/package.json
  scripts/release.ts
Due: eslint --fix --max-warnings=0, prettier --write

release: v0.1.0-rc.5
  packages/vitepress-admin/package.json
  packages/vitepress-plus-cli/package.json
  packages/vitepress-plus/package.json
Due: prettier --write

feat: Rename CLI command to 'vpp', add 'init' command for project initialization, and update package.json dependencies
  packages/vitepress-plus-cli/bin/vpp.js
  packages/vitepress-plus-cli/package.json
  packages/vitepress-plus-cli/src/commands/create.ts
  packages/vitepress-plus-cli/src/commands/init.ts
  packages/vitepress-plus-cli/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: Simplify build scripts in package.json for vitepress-admin and vitepress-plus-cli by removing redundant clean command
  packages/vitepress-admin/package.json
  packages/vitepress-plus-cli/package.json
  scripts/release.ts
Due: eslint --fix --max-warnings=0, prettier --write

release: v0.1.0-rc.6
  packages/vitepress-admin/package.json
  packages/vitepress-plus-cli/package.json
  packages/vitepress-plus/package.json
Due: prettier --write

feat: Implement one-click deployment feature with SSH configuration, including deployment status tracking and connection testing in vitepress-admin
  README.md
  packages/vitepress-admin/.env.example
  packages/vitepress-admin/package.json
  packages/vitepress-admin/server/controllers/deploy/index.ts
  packages/vitepress-admin/server/index.ts
  packages/vitepress-admin/server/routes/deployRoutes.ts
  packages/vitepress-admin/server/services/deployService.ts
  packages/vitepress-admin/src/components/layout/Sidebar.vue
  packages/vitepress-admin/src/router/index.ts
  packages/vitepress-admin/src/services/api.ts
  packages/vitepress-admin/src/views/deploy/DeployManager.vue
Due: eslint --fix --max-warnings=0, prettier --write

feat: Add server management functionality with SSH support, including file operations, directory management, and terminal session handling in vitepress-admin
  packages/vitepress-admin/package.json
  packages/vitepress-admin/server/controllers/server/index.ts
  packages/vitepress-admin/server/index.ts
  packages/vitepress-admin/server/routes/serverRoutes.ts
  packages/vitepress-admin/server/services/serverService.ts
  packages/vitepress-admin/server/types/index.ts
  packages/vitepress-admin/server/types/server.ts
  packages/vitepress-admin/src/components/layout/Sidebar.vue
  packages/vitepress-admin/src/router/index.ts
  packages/vitepress-admin/src/services/api.ts
  packages/vitepress-admin/src/services/websocket.ts
  packages/vitepress-admin/src/views/server/ServerManager.vue
Due: eslint --fix --max-warnings=0, prettier --write

feat: Implement server environment initialization feature with status tracking and configuration options in vitepress-admin
  packages/vitepress-admin/.env.example
  packages/vitepress-admin/server/controllers/server/init.ts
  packages/vitepress-admin/server/index.ts
  packages/vitepress-admin/server/routes/serverRoutes.ts
  packages/vitepress-admin/server/services/serverInitService.ts
  packages/vitepress-admin/server/services/serverService.ts
  packages/vitepress-admin/server/types/server.ts
  packages/vitepress-admin/src/services/api.ts
  packages/vitepress-admin/src/views/server/ServerManager.vue
Due: eslint --fix --max-warnings=0

feat: Enhance deployment process with real-time progress broadcasting, detailed logging, and improved UI for deployment status in vitepress-admin
  packages/vitepress-admin/server/controllers/deploy/index.ts
  packages/vitepress-admin/server/index.ts
  packages/vitepress-admin/server/services/deployService.ts
  packages/vitepress-admin/src/services/api.ts
  packages/vitepress-admin/src/views/deploy/DeployManager.vue
Due: eslint --fix --max-warnings=0

feat: Update main data file to dynamically manage topic imports and entries in vitepress-admin
  packages/vitepress-admin/server/services/topic-sync.ts
Due: eslint --fix --max-warnings=0

feat: Refactor terminal management in ServerManager.vue to support multiple terminal sessions with dynamic tab handling and improved connection logic in vitepress-admin
  packages/vitepress-admin/src/views/server/ServerManager.vue
Due: eslint --fix --max-warnings=0

feat: Add onDataDisposable management to TerminalPane for improved terminal data handling in ServerManager.vue
  packages/vitepress-admin/src/views/server/ServerManager.vue
Due: eslint --fix --max-warnings=0

feat: Introduce software management features including status checks, action execution, and configuration updates in vitepress-admin
  packages/vitepress-admin/server/controllers/server/software.ts
  packages/vitepress-admin/server/index.ts
  packages/vitepress-admin/server/routes/serverRoutes.ts
  packages/vitepress-admin/server/services/softwareService.ts
  packages/vitepress-admin/server/types/server.ts
  packages/vitepress-admin/src/components/layout/Sidebar.vue
  packages/vitepress-admin/src/router/index.ts
  packages/vitepress-admin/src/services/api.ts
  packages/vitepress-admin/src/views/server/DeployTab.vue
  packages/vitepress-admin/src/views/server/ServerManager.vue
  packages/vitepress-admin/src/views/server/SoftwareTab.vue
Due: eslint --fix --max-warnings=0

feat: Add database management features including configuration, connection testing, and CRUD operations for databases in vitepress-admin
  packages/vitepress-admin/.env.example
  packages/vitepress-admin/package.json
  packages/vitepress-admin/server/controllers/database/index.ts
  packages/vitepress-admin/server/index.ts
  packages/vitepress-admin/server/routes/databaseRoutes.ts
  packages/vitepress-admin/server/services/databaseService.ts
  packages/vitepress-admin/server/services/softwareService.ts
  packages/vitepress-admin/server/types/database.ts
  packages/vitepress-admin/src/components/layout/Sidebar.vue
  packages/vitepress-admin/src/router/index.ts
  packages/vitepress-admin/src/services/api.ts
  packages/vitepress-admin/src/views/database/DatabaseManager.vue
Due: eslint --fix --max-warnings=0, prettier --write

feat: Implement CRUD operations for table data management, including data retrieval, insertion, updating, and deletion in vitepress-admin
  packages/vitepress-admin/server/controllers/database/tableData.ts
  packages/vitepress-admin/server/routes/databaseRoutes.ts
  packages/vitepress-admin/server/services/databaseService.ts
  packages/vitepress-admin/server/types/database.ts
  packages/vitepress-admin/src/services/api.ts
  packages/vitepress-admin/src/views/database/DatabaseManager.vue
  packages/vitepress-admin/src/views/database/SqlQueryTab.vue
  packages/vitepress-admin/src/views/database/TableDataViewer.vue
Due: eslint --fix --max-warnings=0

feat: Add AI chat functionality with provider configuration, conversation management, and streaming support in vitepress-admin
  eslint.config.mjs
  packages/vitepress-admin/.env.example
  packages/vitepress-admin/server/controllers/chat/index.ts
  packages/vitepress-admin/server/index.ts
  packages/vitepress-admin/server/routes/chatRoutes.ts
  packages/vitepress-admin/server/services/chatService.ts
  packages/vitepress-admin/server/types/chat.ts
  packages/vitepress-admin/server/types/index.ts
  packages/vitepress-admin/src/components/layout/Sidebar.vue
  packages/vitepress-admin/src/router/index.ts
  packages/vitepress-admin/src/services/api.ts
  packages/vitepress-admin/src/views/chat/ChatManager.vue
Due: eslint --fix --max-warnings=0

feat: Enhance topic management by adding new topics, slug generation, and translation API integration in vitepress-admin
  examples/vitepress-plus-demo/.vitepress/topics/config/index.ts
  examples/vitepress-plus-demo/.vitepress/topics/data/criminal-law/index.ts
  examples/vitepress-plus-demo/.vitepress/topics/data/dark-topics/index.ts
  examples/vitepress-plus-demo/.vitepress/topics/data/dd-dd/index.ts
  examples/vitepress-plus-demo/.vitepress/topics/data/index.ts
  examples/vitepress-plus-demo/articles/dark-topics/test-article-1.md
  examples/vitepress-plus-demo/articles/dark-topics/test-article.md
  packages/vitepress-admin/server/controllers/categoryController.ts
  packages/vitepress-admin/server/controllers/translate/index.ts
  packages/vitepress-admin/server/index.ts
  packages/vitepress-admin/server/routes/translateRoutes.ts
  packages/vitepress-admin/server/services/topic-sync.ts
  packages/vitepress-admin/server/services/translateService.ts
  packages/vitepress-admin/server/types/translate.ts
  packages/vitepress-admin/src/components/category/CategoryEditModal.vue
  packages/vitepress-admin/src/components/common/SlugInput.vue
  packages/vitepress-admin/src/components/topic/TopicEdit.vue
  packages/vitepress-admin/src/components/topic/TopicFormModal.vue
  packages/vitepress-admin/src/services/api.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: enhance slug input component with additional event handling in vitepress-admin
  examples/vitepress-plus-demo/.vitepress/topics/data/dark-topics/index.ts
  examples/vitepress-plus-demo/articles/dark-topics/im-charmander.md
  packages/vitepress-admin/src/components/common/SlugInput.vue
  packages/vitepress-admin/src/components/topic/TopicEdit.vue
Due: eslint --fix --max-warnings=0, prettier --write

feat: Add note generation feature with automatic classification and streaming support in vitepress-admin
  examples/vitepress-plus-demo/.vitepress/topics/data/vue/index.ts
  examples/vitepress-plus-demo/articles/vue/integrate-code-repository-analysis-in-vue-express-website.md
  packages/vitepress-admin/server/controllers/chat/index.ts
  packages/vitepress-admin/server/routes/chatRoutes.ts
  packages/vitepress-admin/server/services/chatService.ts
  packages/vitepress-admin/server/services/noteService.ts
  packages/vitepress-admin/server/types/chat.ts
  packages/vitepress-admin/src/services/api.ts
  packages/vitepress-admin/src/views/chat/ChatManager.vue
Due: eslint --fix --max-warnings=0, prettier --write

feat: Implement chat storage management with persistent conversation saving and retrieval in vitepress-admin
  .gitignore
  examples/vitepress-plus-demo/.gitignore
  packages/vitepress-admin/server/config/paths.ts
  packages/vitepress-admin/server/index.ts
  packages/vitepress-admin/server/services/chatService.ts
  packages/vitepress-admin/server/services/chatStorage.ts
  packages/vitepress-admin/src/views/chat/ChatManager.vue
  packages/vitepress-plus/.gitignore
Due: eslint --fix --max-warnings=0
